
body {
    font-family: Arial, Helvetica, sans-serif;
      color: #57697d;
      background-color: white
  }
  
  /* (website with tips to rearrage the header into 3 sections)https://docs.generatepress.com/article/split-header-three-sections/ */
  /* Style the header */
header {
    background-color: #c7cdc0;
    background-size: contain;
   /* background-repeat: no-repeat; */
    background-position: left; 
    padding: 30px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    color: #ffffff;
    border-top: 10px solid #c7cdc0;
    border-bottom: 10px solid #c7cdc0;
    border-radius: 8px;
  }

.anchor {width: 30%;
  height: auto;}

  nav{border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    
  }

  /* Create two columns/boxes that floats next to each other */
/*nav {
    float: center; 
    width: 20%;
    background: #ffffff;
    padding: 20px;
  } */

/* Style the list inside the menu */
/*nav ul {
    list-style-type: none;
    padding: 20px; 
  } */
  

.button {
    background-color: #21568a;
    border: none;
    border-radius: 8px;
    color: white;
    Padding: 1px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      
  }
  
.button:hover {background-color: #1d97bd}
  
.button:active {
    background-color: #c7cdc0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 300px; 
    font-size: 12px;
  }
  
   /* Clear floats after the columns */
/*section::after {
    content: "";
    display: table;
    clear: both;
  } */

  /*Styling for collapsible buttons */

  .collapsible {
    background-color: #21568a;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 2px;
   
  }
  
  .active, .collapsible:hover {
    background-color: #1d97bd;
  }
  
  .collapsible:after {
    content: '\002B';
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
  }

/* Styling for the footer */

footer {
    width: 100%;
    height: 20px;
    text-align:center;
    background-color: #c7cdc0;
    color: white;
    display: inline-block;
    border-radius: 8px;
    margin-top: 10px;
    
  }
  
  /* Responsive layout */
@media (max-width: Auto-flow) {
     nav, article {
      width: 100%;
      height: auto;}
    }